/*!
 * Menu du restaurant et tableau des heures d'ouverture
 */


/* 
Palette de couleurs
    ##dddddd;
    
Rythme
    1px
    8px
*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}